.dashboard-card {
   min-height: 100vh;
   background-image: url('/assets/images/background-main.webp');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   .journal-grid {
      display: grid;
      grid-template-columns: (1, 1fr);
      gap: 25px;
      padding: 25px;
      animation: fadeIn 0.5s ease-in-out;

      @media (min-width: 600px) {
         grid-template-columns: repeat(2, 1fr);

      }

      @media screen and (min-width: 769px) {
         grid-template-columns: repeat(3, 1fr);

      }

      @media screen and (min-width: 1025px) {
         grid-template-columns: repeat(4, 1fr);

      }

   }

}