.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #141e30, #243b55);
}

.auth-card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 20px;
}

nav {
  margin-bottom: 20px;
}

:host ::ng-deep .mat-tab-links {
  justify-content: center;
}