<div class="signUp-container">
    <form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label for="name">name</mat-label>
            <input matInput type="text" name="name" id="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="username">username</mat-label>
            <input matInput type="text" name="username" id="username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="email">email</mat-label>
            <input matInput type="email" name="email" id="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="password">password</mat-label>
            <input matInput type="password" name="password" id="password" formControlName="password">
        </mat-form-field>
        <button type="submit">Submit it</button>
    </form>
</div>